/output
/dl/*
!/dl/intel-compute-runtime
!/dl/intel-compute-runtime/**
/dl/intel-compute-runtime/.lock
!/dl/intel-ipp
!/dl/intel-ipp/**
/dl/intel-ipp/.lock
!/dl/openvino-runtime
!/dl/openvino-runtime/**
/dl/openvino-runtime/.lock
!/dl/openvino-demo
!/dl/openvino-demo/**
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
